.tuille-film{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 1rem;
    margin: 5rem 0 2rem 0;
    max-width: 15rem;
    height: 20rem;
    transition: all 0.6s ease;

    .tuille-film:hover > :not(:hover) {
        opacity: 0.4;
    }
   
    & h3 {
        color: var(--icterine);;
    }

    & img {
        width: 100%;
        border-radius: 1rem;
        -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.82);
        -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.82);
        box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.82);
        transition: width 2s;
    }

    & .tuille-film-content{
        display: none;
        transition: all 0.6s ease;
    }
    
    & img:hover{
        width:110%;
        }
    & img:hover + .tuille-film-content {
        display: block;
    }
}


