.tuille-film{
    align-items: center;
    justify-content: center;
    margin: 4rem 1rem 1rem 1rem;
    background-color: var(--paynes-gray);
    border-radius: 1rem;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.82);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.82);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.82);
    padding: 2rem;
   
    & h3 {
        color: var(--icterine);;
    }

    & img {
        max-width: 18rem;
        border-radius: 1rem;
        -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.82);
        -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.82);
        box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.82);
    }
}

