/* SETTINGS */
@import url(./styles/1-settings/variables.css);

@import url(./styles/1-settings/colors.css);

/*TOOLS */

/* GENERIC */
@import url(./styles/3-generic/reset.css);

/* ELEMENTS*/
@import url(./styles/4-elements/typography.css);

/* OBJECTS */
/*COMPONENTS*/
/*UTILITIES*/

body{
    background: rgb(26,26,38);
    background: linear-gradient(90deg, rgba(26,26,38,1) 31%, rgba(22,23,38,1) 59%, rgba(6,9,39,1) 82%, rgba(44,52,61,1) 100%);
}

main {
    margin: 0 5rem 0 5rem;
}
