/* SETTINGS */
@import url(./styles/1-settings/variables.css);

@import url(./styles/1-settings/colors.css);

/*TOOLS */

/* GENERIC */
@import url(./styles/3-generic/reset.css);

/* ELEMENTS*/
@import url(./styles/4-elements/typography.css);

/* OBJECTS */
/*COMPONENTS*/
/*UTILITIES*/

body{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 14%, rgba(23,40,50,1) 66%, rgba(75,87,101,1) 96%);
}

main {
    margin: 0 5rem 0 5rem;
}
