.entete {
    display: flex;
    align-items: center;
    margin-top: -6rem;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.entete-logo{
    max-width: 80%;
    border-radius: 100%;
}

.menu-nav-item{
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--zomp);
}